.main{
    border-radius: 24px;
}

.main__site{
    min-height: 120px;
}

.main__result{
    align-items: center;
   flex-direction: column;
}

.inputGroup{
    min-width: 270px;
}

.inputButton{
    min-height: 60px;
    max-height: 60px;
}

.resultButton{
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    padding: 11px 7px;
}

.main__site{
 border-radius: 24px;
}